p {
  margin: 20px;
  padding: 20px;
  border: rgb(9, 38, 82) 5px solid;
  border-radius: 25px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#projects {
  display: inline;
  margin: 10px;
}
