.introduction {
  margin: 20px;
  padding: 20px;
  background-color: rgb(29, 19, 32);
  border: solid rgb(57, 35, 60) 5px;
  border-radius: 25px;
}

form {
  background-color: rgb(29, 19, 32);
  padding: 30px;
  border: solid rgb(57, 35, 60) 5px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

input {
  margin: 10px 0;
}

.pfp {
  background-color: rgb(29, 19, 32);
  padding: 30px;
  border: solid rgb(57, 35, 60) 5px;
  border-radius: 25px;
}

.projectImg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  /* width: 300px;
  height: 200px; */
}

.github,
.www {
  animation: fadeIn 2s;
  transition-timing-function: ease-in;
  transition: 2.25s;
  visibility: hidden;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projectImg:hover .github,
.projectImg:hover .www {
  visibility: visible;
}

.github {
  transform: translateY(-12px);
}

#portfolioContiner {
  padding: 40px;
  background-color: rgb(29, 19, 32);
  border: solid rgb(57, 35, 60) 5px;
  border-radius: 25px;
}

#projects {
  display: inline;
  margin: 10px;
}

#projects div {
  display: inline-block;
  margin: 10px;
}

#projects img {
  padding: 20px;
}

#name,
#email {
  min-width: 50%;
  min-height: 20px;
}

#message {
  min-width: 100%;
  min-height: 80px;
}

#submit {
  align-self: center;
}

#mainTextBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
