nav {
  background-color: wheat;
}

nav div {
  display: flex;
  margin-left: 4.5rem;
  margin-top: 4%;
  position: fixed;
  left: 0;
  flex-direction: column;
  align-items: baseline;
}

nav span {
  font-size: 5rem;
}

nav div a {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

main {
  background-color: rgb(44, 28, 44);
  border: 10px solid rgb(57, 35, 60);
  border-radius: 25px;
  display: flex;
  flex-direction: column;

  margin-top: 1.5rem;
  max-width: 1080px;
}

main div {
  margin-top: 1.5rem;
}

main footer {
  border: solid rgb(48, 29, 59) 5px;
  border-radius: 25px;
  margin: 1.5rem 20px 0 20px;
  background-color: rgb(29, 19, 32);
  margin-bottom: 1rem;
}

.footerImg {
  filter: invert(1);
}

.container {
  margin: 20px 5% 20px 5%;
  padding: 20px;
  background-color: rgb(29, 19, 32);
  border: solid rgb(57, 35, 60) 5px;
  border-radius: 25px;
}

form {
  background-color: rgb(29, 19, 32);
  padding: 30px;
  border: solid rgb(57, 35, 60) 5px;
  margin: 1.5rem 7.5rem 2.5rem 7.5rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

input {
  margin: 10px 0;
}

.pfp {
  background-color: rgb(29, 19, 32);
  padding: 30px;
  border: solid rgb(57, 35, 60) 5px;
  border-radius: 25px;
}

.projectImg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  /* width: 300px;
  height: 200px; */
}

.github,
.www {
  animation: fadeIn 2s;
  transition-timing-function: ease-in;
  transition: 2.25s;
  visibility: hidden;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projectImg:hover .github,
.projectImg:hover .www {
  visibility: visible;
}

.github {
  transform: translateY(-12px);
}

#portfolioContiner {
  padding: 20px;
  border-radius: 25px;
}

#react-pdf {
  margin: 0 auto;
}

.pdfViewer {
  display: flex;
  justify-content: center;
  align-self: center;
}

#name,
#email {
  min-width: 50%;
  min-height: 20px;
}

#message {
  min-width: 100%;
  min-height: 80px;
}

#submit {
  background-color: black;
  align-self: center;
}

#mainTextBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Keep disabled or it will overlay the text from the pdf onto the page */
.rpv-core__text-layer {
  display: none;
}
