#portfolio_Container {
  /* display: flex;
  flex-direction: row; */
  padding: 0 40px 0 40px;
}

#project_card {
  margin-top: 0px !important;
  display: inline-block;
}

#project {
  display: inline;
}

@media only screen and (max-width: 600px) {
  #portfolio_container {
    flex-direction: column;
  }
}
